<div id="paint-window">
   <div id="module-holder">
      <button mat-fab aria-label="Example icon button with a delete icon">
         <mat-icon>delete</mat-icon>
       </button>

       <button mat-fab aria-label="Example icon button with a delete icon">
         <mat-icon>delete</mat-icon>
       </button>

       <button mat-fab aria-label="Example icon button with a delete icon">
         <mat-icon>delete</mat-icon>
       </button>

       <button mat-fab aria-label="Example icon button with a delete icon">
         <mat-icon>delete</mat-icon>
       </button>
   </div>
   <canvas id="paint-canvas" #canvasBoard></canvas>
</div>