#paint-window{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#paint-window {
    #paint-canvas {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid black;
        cursor: crosshair;
        background-color: whitesmoke;
        border: 2vw solid black;
    }
}

app-modules-holder{
    z-index: 2;
}