/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    app-root{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    ;
    }
}


//write breakpoint mixins
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

